---
import { getFsItem, type FileSystemItem } from "@utils/filesystem";
import ShellPage from "./ShellPage.astro";
import ListTable from "@components/ListTable";

export type Props = {
    path: string;
    file: FileSystemItem;
};

const { file, path } = Astro.props;

if (file.type !== "dir") {
    throw new Error("This is not a directory.");
}

const isListCurrent = path === file.absPath;
const command = "ls " + (path === file.absPath ? "" : file.absPath);

const currentFile = isListCurrent ? file : await getFsItem(path);
---

<ShellPage currentPath={path} command={command}>
    {
        isListCurrent ? (
            <div class="my-8" id="init-content" data-init-type="list">
                <ListTable file={currentFile} />
            </div>
        ) : (
            <>
                <div class="my-8">
                    <ListTable file={file} />
                </div>
                <div class="hidden">
                    <div class="my-8" id="init-content" data-init-type="list">
                        <ListTable file={currentFile} />
                    </div>
                </div>
            </>
        )
    }
</ShellPage>
